node_modules
.next
.turbo
dist
build
.env
.env.*
*.log
pnpm-lock.yaml
coverage
prisma/dev.db*



# secrets
serviceAccountKey.json
**/serviceAccountKey.json
**/*serviceAccount*.json
**/*ServiceAccount*.json
**/*service-key*.json
